<section class="about-me">
  <div class="about-container">
    <img [src]="profileImage" alt="Profile Picture" class="profile-pic">
    
    <div class="about-text">
      <h1>{{ aboutData.name }}</h1>
      <p class="tagline">{{ aboutData.tagline }}</p>
      <p class="description">{{ aboutData.description }}</p>
      
      <!-- Download Resume Button -->
      <a href="https://drive.google.com/file/d/1SDwmOq2uWFmsTnsAmANTeuRVhbArrx7E/view?usp=sharing" download class="resume-button">
        Resume
      </a>
    </div>
  </div>
</section>