<mat-toolbar color="primary" class="toolbar">
    <span class="navbar-brand">My Portfolio</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <a mat-button (click)="scrollToSection('home')">Home</a>
      <a mat-button (click)="scrollToSection('education')">Education</a>
      <a mat-button (click)="scrollToSection('experience')">Experience</a>
      <a mat-button (click)="scrollToSection('projects')">Projects</a>
      <a mat-button (click)="scrollToSection('skills')">Skills</a>
    </div>
</mat-toolbar>